h1{

    color:red;
    background-color: peachpuff;
    size: 20px;
}

.red_section{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid grey;
}